/* FONT */

@font-face {
    font-family: raleway ;
    src: url(fonts/Raleway-VariableFont_wght.ttf);
}

/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: auto;}
    
button{
    border: initial;
    background-color: initial;
    color: inherit;
    font: inherit;}

*::-webkit-scrollbar {
        display: none;
      }

/* KEYFRAMES */

/* @keyframes fade-in-from-top {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

*/ 
@keyframes fade-in-from-left {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
} 

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* BASE STYLES */
.app{
    font-family: raleway, sans-serif;
    font-size: 15px;
    height: 100vh;
    width: 100vw;}

.app__container{
    height: calc(100vh - 55px);
    display: flex;
}

a{
    text-decoration: none;
    color: #fff;
}

/* STYLE */

.header{
    background-image: linear-gradient(to left, #b2babd, #2e353e);
    height: 55px;
    display: flex;}

.dd-toggle:nth-of-type(4){
    margin-left: auto;}

.logo__a{
    display: inline-block;
    left: 0%;
    text-decoration: none;
    font-weight: 500;
    font-size: 2.9em;
    color: beige;
    margin-left: 10px;
    animation: fade-in-from-top 0.5s;}

.logo__a-focus{
    color: aqua;
    font-weight: 100;
    margin-right: 0px;
    padding-right:10px;
    animation: fade-in-from-top 0.5s;}

.dd-toggle{
    color: rgba(255, 255, 255, 0.7);
    padding: 0 13px;
    cursor: pointer;
    transition: 0.3s;
    size: 20px;
    animation: fade-in-from-top 0.5s;
}
.dd-toggle__a{
    color: #fff;
    padding: 18px 10px;
    cursor: pointer;
    transition: 0.3s;
    size: 20px;
    animation: fade-in-from-top 0.5s;
}
.dd-toggle__login{
    color: rgba(100, 100, 100, 100);
    padding: 0 13px;
    cursor: pointer;
    margin-left: auto;
    font-size: 20px;
    transition: 0.3s;
    animation: fade-in-from-top 0.5s;
}
.dd-toggle__signup{
    color: rgba(100, 100, 100, 100);
    padding-right: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
    animation: fade-in-from-top 0.5s;
}
/* ANIMATION */

.logo__a:hover{
    color: hsl(0, 4%, 59%);
}
.logo__a:hover .logo__a-focus{
    color: hsl(194, 55%, 62%);
}

/* .dd-toggle:hover{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.07);
} */

.dd-toggle__a:hover{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.07);
}

.dd-toggle__login:hover{
    color: #fff;
}
.dd-toggle__signup:hover{
    color: #fff;
}

/* ---------------------------------- */

.sidebar{
    background-color: #2e353e;
    width: 100px;
}

.menu__button{
    display: flex;
    padding: 19px 0;
    color: rgba(255, 255, 255, 0.4);
    flex-direction: column;
    width: 100%;
    align-items: center;
    transition: all 0.4s;
    /* animation: fade-in-from-left 0.5s; */
}

.menu__button:hover{
    background-color: #59646a;
    color: rgb(204, 210, 210);
    cursor: pointer;
}

.menu__button:focus{
    background-color: #59646a;
    color: rgb(204, 210, 210);
    cursor: pointer;
}

.menu__button--active{
    background-color: #59646a;
    color: rgb(204, 210, 210);
    position: relative;
}

.menu__button--active::before{
    content: '';
    width: 3px;
    height: 100%;
    background-color: rgba(0, 255, 255, 0.674);
    position: absolute;
    top: 0;
    left: 0;
    animation: fade-in-from-left 0.2s;
}

.menu__icon{
    font-size: 20px;
}

.menu__text{
    font-weight: 500;
}


/* ---------------------------------- */

.panel{
    background-color: #59646a;
    width: 400px;
    padding: 15px 31px;
}

.paneL__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #a9acad;
    padding-bottom: 12px;   
} 

.first-heading{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.paneL__collapse-icon{
    cursor: pointer;
    color: #fff;
}

.paneL__images p{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding-top: 5px;
   
}
.paneL__images {
    padding: 25px 0;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    
}
.paneL__images img{
    width: 90%;
    height: 180px;
    border-radius: 10px;
    transition: all 0.2s;
    animation: fade-in 1s;
    margin-top: 10px;
    object-fit: cover;
}

.paneL__images img:hover{
    scale: 1.05;
    cursor: pointer;
}

/* ---------------------------------- */

.main{
    background-color: #bdd2dc;
    flex: 1;
}

.info-bar{
   height: 50px;
   padding: 0 10px; 
}

.property-name{
    color: #1d1e1d;
    padding: 10px;
    padding-left: 40%;
    font-size: 25px;
    font-weight: 400;
    border-bottom: 2px solid #3233337f;
}


/*--------------------------------------------*/

.gallery{
    display: grid;
    grid-template-columns: 50px 1fr 100px;
    grid-template-rows: 20px 350px 0px;
}

.img-wrapper {
    grid-column: 2/3;
    grid-row: 2/3;
}

.gallery-img{
    height: 90%;
    width: 70%;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 150px;
}

.property-info{
    font-size: 30px;
    padding-top: 0px;
    padding-left: 40%;
    font-weight: 500;
    color: rgb(94, 95, 96);
}

/* -------------------------------- */


